.salon-main {
    position: sticky;
    z-index: 3;
    padding-top: 25vh;
    padding-bottom: 3.4vh;
    height: fit-content;
}

.salon--img-website {
    display: block;
}

.salon--img-mobile {
    display: none;
}

.salon-primary-section {
    height: 100%;

}

.salon-primary-section-container {
    width: 100%;
    max-height: 69vh;
    overflow-y: auto;
}


.salon-primary-section-filters {
    width: 369px;
    height: 69vh;
    max-height: 69vh;
    padding-bottom: 6.9rem;
    position: sticky; top: 1000px
}

.salon-rating-mobile {
    display: none;
}
.salon-rating-website {
    display: flex;
}

@media(max-width: 963px) {
    .salon--img-website {
        display: none;
    }
    .salon--img-mobile {
        display: block;
    }
    .salon-main {
        padding-top: 0px;
    }
    .salon-rating-mobile {
        display: block;
    }
    .salon-rating-website {
        display: none;
        border: 1px dotted
    }
    
}

@media(max-width: 693px) {
    .salon-primary-section-filters {
        display: none;
    }
    .salon-primary-section-container {
        width: 100%;
        padding: 0px !important;
    }
    .salon-primary-section-container {
        max-height: fit-content;
    }
}
